<template>
  <div class="mb-4">
    <label :for="name" class="block font-medium mb-2">{{label}}</label>

    <div class="relative">
      <input
        :id="name"
        :name="name"
        :value="value"
        v-on:input="$emit('input', $event.target.value)"
        class="bg-white px-3 h-12 rounded-sm w-full focus:outline-none border border-gray-300 hover:border-blue-900 focus:border-blue-900 focus:ring"
      />
      <div class="pointer-events-none absolute right-0 top-0 h-full w-12 flex items-center justify-center">
        <i v-bind:class="['fa text-gray-400', icon]" aria-hidden="true"></i>
      </div>
    </div>

    <p
      class="text-red-600 text-sm mt-2 h-6"
      v-bind:class="{ visible: isInvalid, invisible: !isInvalid }"
    >
      {{errorMessage}}
    </p>
  </div>
</template>

<script>
  export default {
    name: 'RealDigitalTextfield',
    props: {
      errorMessage: String,
      icon: String,
      label: String,
      name: String,
      validation: String,
      value: String,
    },
    data() {
      return {
        isInvalid: false
      }
    },
    methods: {
      validate() {
        const validationRule = new RegExp(this.validation);

        this.isInvalid = !validationRule.test(this.value);
      },
    },
  }
</script>
