<template>
  <form
    id="form"
    class="w-full md:w-2/3 lg:w-1/2 xl:w-1/3 relative bg-white border-2 border-blue-700 shadow-xl rounded-xl p-12"
    :action="action"
    :method="method"
    @submit.prevent="onSubmit"
  >
    <success-message
      v-bind:isVisible="successMessageIsVisible"
      v-on:close-success-message="successMessageIsVisible = false"
    />
    
    <div class="flex justify-between items-center border-b pb-4 mb-12">
      <h1 class="text-xl font-black">Contact</h1>
      <div>
        <img class="h-6" src="../assets/real-logo.png" />
      </div>
    </div>

    <real-digital-textfield
      name="name"
      label="Name"
      v-model.trim="name"
      validation="[a-zA-Z]+"
      errorMessage="Name must consist of alphabetical letters only."
      icon="fa-user-circle-o"
    />

    <real-digital-textfield
      name="phone"
      label="Phone"
      v-model.trim="phone"
      validation="[0-9]+"
      errorMessage="Phone number must consist of numbers only."
      icon="fa-phone"
    />

    <real-digital-textfield
      name="subject"
      label="Subject"
      v-model.trim="subject"
      icon="fa-comment-o"
    />
    
    <real-digital-button :isLoading="isLoading" text="Send" />
  </form>
</template>

<script>
  import RealDigitalButton from './RealDigitalButton.vue';
  import RealDigitalTextfield from './RealDigitalTextfield.vue';
  import SuccessMessage from './SuccessMessage.vue';

  export default {
    name: 'RealDigitalForm',
    components: {
      RealDigitalButton,
      RealDigitalTextfield,
      SuccessMessage
    },
    props: {
      action: String,
      method: String,
    },
    data() {
      return {
        name: '',
        phone: '',
        subject: '',
        successMessageIsVisible: false,
        isLoading: false,
      }
    },
    computed: {
      validatableFields() {
        return this.$children.filter(field => field.validation);
      }
    },
    methods: {
      onSubmit() {
        this.validateFields();

        const formIsValid = this.validatableFields.every(field => !field.isInvalid);

        formIsValid && this.submit();
      },
      async submit() {
        const { method, name, phone, subject } = this;
        const request = fetch(`${this.action}/${method.toLowerCase()}`, {
          method,
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ name, phone, subject }),
        });

        try {
          this.isLoading = true;
          
          const response = await request;
          
          this.$emit('onSuccess', response);

          if (response.ok) {
            this.successMessageIsVisible = true;
          }
        } catch(error) {
          console.log('error', error);
        } finally {
          this.isLoading = false;
        }
      },
      validateFields() {
        this.validatableFields.forEach(field => field.validate());
      }
    }
  }
</script>
