
<template>
  <button
    type="submit"
    v-bind:disabled="isLoading"
    class="text-white h-12 mt-12 px-3 flex items-center justify-center w-full rounded-sm font-semibold cursor-pointer bg-blue-900 hover:bg-black focus:outline-none focus:ring focus:border-blue-300"
  >
    <span v-if="isLoading">
      <i class="fa fa-spinner fa-spin mr-1" aria-hidden="true"></i> Sending...
    </span>
    <span v-else>{{text}}</span>
  </button>
</template>

<script>
  export default {
    name: 'RealDigitalButton',
    props: {
      text: String,
      isLoading: Boolean,
    }
  }
</script>
