<template>
  <transition name="fade">
    <div
      v-show="isVisible"
      style="background-color: rgba(255, 255, 255, .95)"
      class="absolute z-10 w-full h-full left-0 top-0 rounded-xl flex flex-col items-center justify-center"
    >
      <div class="mb-4">
        <img class="w-32" src="../assets/success-icon.png" alt="">
      </div>

      <p class="font-semibold mb-8 text-lg">Thank you for your message!</p>

      <button @click="$emit('close-success-message')" class="hover:underline text-blue-600" type="button">Back to Form</button>
    </div>
  </transition>
</template>


<script>
  export default {
    name: 'SuccessMessage',
    props: {
      isVisible: Boolean,
    },
  }
</script>

<style>
  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }

  .fade-enter, .fade-leave-to {
    opacity: 0;
  }
</style>
