<template>
  <div id="app" class="container mx-auto">
    <div class="flex justify-center py-12 px-12 w-full">

      <real-digital-form action="https://httpbin.org/" method="POST" />
    
    </div>
  </div>
</template>

<script>
  import RealDigitalForm from './components/RealDigitalForm.vue';

  export default {
    name: 'App',
    components: {
      RealDigitalForm,
    }
  }
</script>

<style>
  body {
    background-image: url("https://www.real-digital.de/wp-content/uploads/blue-pattern.svg");
  }

  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>
